$color-blue: #0834c4;
$color-orange: #eb6e4b;
$colorGray: #f7f7f7 !default;

:root {
  --color-white: #fff;
  --color-white-sheer: rgb(255 255 255 / 90%);
  --color-blue: #0834c4;
  --color-orange: #eb6e4b;
  --color-primary: #48484a;
  --color-red: #f00;
  --color-grey: #f7f7f7;
  --font-roboto: "Roboto", sans-serif;
  --shadow-color: #04040421;
}
